/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  min-height: 100%;
}

sortify-frontend-root {
  display: flex;
  flex-direction: row;
}

html {
  height: 100%;
  display: flex;
}
